@page "/reports/transactions"


@using FuelAcc.Application.DtoCommon
@using FuelAcc.Application.DtoCommon.Paging
@using FuelAcc.Client.Services.Reports
@using FuelAcc.ApiClient

@inject IReportsService RepService
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject FuelAcc.Client.Shared.PageHistoryState PageHistoryState

<h1>Transactions report</h1>
<br />

@if (Records == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:10%">Date</th>
                <th style="width:15%">Document</th>
                <th style="width:25%">Product</th>
                <th style="width:10%">From Storage</th>
                <th style="width:10%">To Storage</th>
                <th style="width:10%">Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Records)
            {
                <tr>
                    <td>@(record.Date.ToLocalTime())</td>
                    <td>@(record.OrderNumber)</td>
                    <td>@(record.ProductName)</td>
                    <td>@(record.SrcStorageName)</td>
                    <td>@(record.DstStorageName)</td>
                    <td>@(record.Quantity)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected ICollection<ReportTransactionView> Records;
    
    protected override async Task OnParametersSetAsync()
    {
        Records = await RepService.GetTransactions(new ReportTransactionsDto(){
        });
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
    }
}